altair==5.5.0
attrs==25.4.0
autograd==1.8.0
bayesian-optimization==1.4.0
blinker==1.9.0
botorch==0.10.0
cachetools==6.2.6
celluloid==0.2.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
cloudpickle==3.1.1
cma==4.3.0
coco-experiment==2.8.1
cocopp==2.7.4
contourpy==1.3.0
cycler==0.12.1
directsearch==1.0
Farama-Notifications==0.0.4
filelock==3.19.1
fonttools==4.59.1
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.46
gpytorch==1.11
gymnasium==1.1.1
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
jaxtyping==0.2.19
jenn==2.0.0
Jinja2==3.1.6
joblib==1.5.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.7
linear-operator==0.5.1
llvmlite==0.43.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mpmath==1.3.0
multipledispatch==1.0.0
narwhals==2.16.0
networkx==3.2.1
nevergrad==1.0.12
nomad==2.4
numba==0.60.0
numpy==2.0.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
opfunu==1.0.4
opster==5.0
opt_einsum==3.4.0
orjson==3.11.5
packaging==25.0
pandas==2.3.2
pillow==11.3.0
platformdirs==4.3.8
protobuf==6.33.5
pyarrow==21.0.0
pydeck==0.9.1
pyDOE==0.3.8
pyDOE2==1.3.0
pyDOE3==1.6.2
pygame==2.6.1
pymanopt==2.2.1
PyNomadBBO==4.5.1
pyparsing==3.2.3
pypop7==0.0.82
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
RunnerPost==1.0b6
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
smmap==5.0.2
smt==2.10.1
streamlit==1.50.0
sympy==1.14.0
tenacity==9.1.2
termcolor==2.2.0
threadpoolctl==3.6.0
toml==0.10.2
torch==2.8.0
tornado==6.5.4
tqdm==4.67.3
triton==3.4.0
typeguard==2.13.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
watchdog==6.0.0
zipp==3.23.0
